<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <img src="../../assets/svg/bars-solid.svg" class="change-ico">
      <!-- <i class="fas fa-bars" ></i> -->
    </span>
    <a href="#" class="logo">Mace</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="#" class="nav-links">Bienvenido</a>
      </li>
      <li>
        <a href="#" class="nav-links">Productos</a>
      </li>
      <li>
        <a href="#" class="nav-links">Sobre nosotros</a>
      </li>
      <li>
        <a href="#" class="nav-links">Contacto</a>
      </li>
      <li>
        <a href="#" class="nav-links"><img src="../../assets/svg/cart-shopping-solid.svg" class="change-ico"></a>
      </li>
    </ul>
  </nav>
