<div class="container-input">
    <form>
      <div class="group">
        <input type="text" required />
        <span class="bar"></span>
        <label>Producto</label>
      </div>
  
      <div class="group">
        <input type="text" required />
        <span class="bar"></span>
        <label>Email</label>
      </div>
  
      <div class="container-inputs-range">
        <div class="group">
          <input type="text" required />
          <span class="bar"></span>
          <label>Input 1</label>
        </div>
        <div class="group">
          <input type="text" required />
          <span class="bar"></span>
          <label>Input 2</label>
        </div>
      </div>
      <section class="container-select">
        <div class="dropdown">
          <select name="one" class="dropdown-select">
            <option value="">Select…</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
        <div class="dropdown dropdown-dark">
          <select name="two" class="dropdown-select">
            <option value="">Select…</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
        

        





      </section>
    </form>
  </div>




  <section class="container-select">
    <div class="dropdown">
      <select name="one" class="dropdown-select">
        <option value="">Select…</option>
        <option value="1">Option #1</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
      </select>
    </div>
    <div class="dropdown dropdown-dark">
      <select name="two" class="dropdown-select">
        <option value="">Select…</option>
        <option value="1">Option #1</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
      </select>
    </div>
  </section>