<div class="container-input">
    <form>
      <div class="group">
        <input type="text" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Producto</label>
      </div>
  
      <div class="group">
        <input type="text" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
  
      <div class="container-inputs-range">
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Input 1</label>
        </div>
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Input 2</label>
        </div>
      </div>
    </form>
  </div>