<router-outlet></router-outlet>

<!-- 
<div class="product-container">
  <img src="../assets/img/maceimg.png" alt="img_mace">
  <div class="product-details">
      <h2>Producto 3</h2>
      <p>Figura</p>
      <p>Descripción del producto 3</p>
      <p>En stock: 100 unidades</p>
      <p>Precio: $79.99</p>
      <button class="add-to-cart">Agregar al Carrito</button>
      <button class="view-product">Ver Producto</button>
  </div>
</div> -->

<div class="card-container">
  <!-- <div class="card-image"></div> -->
  <img class="card-image" src="../assets/img/maceimg.png" alt="img_mace">
  <div class="card-content">
    <h5 class="card-title">Tailwind card</h5>
    <p class="card-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis ligula.
    </p>
  </div>
  <div class="card-actions">
    <button class="card-button">Read More</button>
    <button class="card-button">Read More</button>
  </div>
</div>


