:root {
    --color-black-50: #f6f7f6;
    --color-black-100: #e3e4e3;
    --color-black-200: #c7c9c6;
    --color-black-300: #a2a6a2;
    --color-black-400: #7e837f;
    --color-black-500: #5c615c;
    --color-black-600: #4e534e;
    --color-black-700: #414441;
    --color-black-800: #363936;
    --color-black-900: #303130;
    --color-black-950: #191a19;
}

.input-container {
    position: relative;
    margin: 32px 0;
    
  }
  
  input {
    /* border: 10px solid #ccc; */
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Ajusta el ancho del input */
    box-sizing: border-box;
  }
  
  label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--color-black-600);
    font-size: 16px;
    transition: 0.2s ease all;
    pointer-events: none;
  }
  
  input:focus + label,
  label.active {
    top: -20px;
    left: 10px;
    font-size: 16px;
    color: var(--color-black-200);
  }
  
  input:focus {
    border-color: var(--color-black-600);
    outline: none;
  }
  
  button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: none;
    cursor: pointer;
    outline: none;
  }
  