.input-container {
    position: relative;
    margin: 20px 0;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 40px); /* Ajusta el ancho del input */
    box-sizing: border-box;
  }
  
  label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #aaa;
    font-size: 16px;
    transition: 0.2s ease all;
    pointer-events: none;
  }
  
  input:focus + label,
  label.active {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #5264AE;
  }
  
  input:focus {
    border-color: #5264AE;
    outline: none;
  }
  
  button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: #5264AE;
    cursor: pointer;
    outline: none;
  }
  