/* Style color */
/* Base color #3957b1 https://uicolors.app/create*/
:root {
  --color-blue-50: #ebf1fa;
  --color-blue-100: #e1ebf8;
  --color-blue-200: #c9dbf4;
  --color-blue-300: #a4c5ec;
  --color-blue-400: #79a7e1;
  --color-blue-500: #5a87d7;
  --color-blue-600: #456dcb;
  --color-blue-700: #3957b1;
  --color-blue-800: #364c97;
  --color-blue-900: #212a4a;

  --color-orange-50: #fff3ed;
  --color-orange-100: #ffe3d4;
  --color-orange-200: #ffc2a8;
  --color-orange-300: #ff9871;
  --color-orange-400: #ff6238;
  --color-orange-500: #fe3911;
  --color-orange-600: #ef2007;
  --color-orange-700: #c61208;
  --color-orange-800: #9d110f;
  --color-orange-900: #7e1210;
  --color-orange-950: #440608;

  --color-whitepink-50: #fbf9f7;
  --color-whitepink-100: #f1eae3;
  --color-whitepink-200: #e2d3c6;
  --color-whitepink-300: #cfb7a2;
  --color-whitepink-400: #bb957c;
  --color-whitepink-500: #ad7d62;
  --color-whitepink-600: #a06b56;
  --color-whitepink-700: #855749;
  --color-whitepink-800: #6d483f;
  --color-whitepink-900: #593c35;
  --color-whitepink-950: #2f1e1b;

  --color-yellow-50: #fefbe8;
  --color-yellow-100: #fff7c2;
  --color-yellow-200: #ffed87;
  --color-yellow-300: #ffdb43;
  --color-yellow-400: #ffca27;
  --color-yellow-500: #efab03;
  --color-yellow-600: #ce8300;
  --color-yellow-700: #a45c04;
  --color-yellow-800: #88470b;
  --color-yellow-900: #733b10;
  --color-yellow-950: #431d05;

  --color-blueb-50: #f5f7fa;
  --color-blueb-100: #eaeef4;
  --color-blueb-200: #d1dbe6;
  --color-blueb-300: #a9bdd0;
  --color-blueb-400: #7a99b6;
  --color-blueb-500: #597b9e;
  --color-blueb-600: #466283;
  --color-blueb-700: #394f6b;
  --color-blueb-800: #32445a;
  --color-blueb-900: #2e3b4c;
  --color-blueb-950: #212a37;

  --color-green-50: #f4faf3;
  --color-green-100: #e3f6e2;
  --color-green-200: #c8ebc7;
  --color-green-300: #9dda9b;
  --color-green-400: #6ac068;
  --color-green-500: #439f41;
  --color-green-600: #358633;
  --color-green-700: #2d6a2b;
  --color-green-800: #265526;
  --color-green-900: #214622;
  --color-green-950: #0d260d;

  --color-black-50: #f6f7f6;
  --color-black-100: #e3e4e3;
  --color-black-200: #c7c9c6;
  --color-black-300: #a2a6a2;
  --color-black-400: #7e837f;
  --color-black-500: #5c615c;
  --color-black-600: #4e534e;
  --color-black-700: #414441;
  --color-black-800: #363936;
  --color-black-900: #303130;
  --color-black-950: #191a19;
}
/* 
/* 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

body {
  background-color: #020202;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.card {
  width: 300px;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-black-600);
  color: var(--color-black-100);
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 1.5rem;
  overflow: hidden;
  position: relative;
  padding-right: 1rem;
}

.card-tags::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.tag {
  background-color: var(--color-black-950);
  color: var(--color-black-200);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

.card-description {
  font-size: 0.875rem;
  color: var(--color-black-200);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limita el texto a 1 línea */
  -webkit-box-orient: vertical;
}

.card-price {
  font-size: 2.5rem;
  color: var(--color-black-50);
  text-align: right;
  margin: 1rem 0;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-button {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* transition: background-color 0.3s ease; */
}

.card-button:first-child {
  margin-right: 0.5rem;
  background-color: var(--color-black-900);
  color: var(--color-black-50);
}

.card-button:last-child {
  margin-left: 0.5rem;
  background-color: var(--color-black-400);
  color: var(--color-black-50);
}

.card-button:hover {
  transform: scale(1.05);
}

/*! navbar*/

.navbar {
  font-size: 18px;
  background-image: linear-gradient(
    260deg,
    var(--color-black-800) 0%,
    var(--color-black-500) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.navbar-toggle img {
  width: 24px;
  height: 24px;
}

.change-ico {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 20px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

/*! input gourp*/
/* 
* { box-sizing:border-box; } */

/* basic stylings ------------------------------------------ */

/* body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
} */

.container-input {
  font-family: "Roboto";
  width: 300px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
  border-radius: 5%;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 35px;
  margin-top: 35px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%; /* Ensure input takes full width of its container */
  border: none;
  border-bottom: 1px solid #757575;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--color-black-700);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-black-600);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* contain two input*/
.container-inputs-range {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.container-inputs-range .group {
    flex: 0 0 25%;
  }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
